---
type Props = {
  styles: string;
  classes: string;
};
const { styles, classes } = Astro.props;
---

<nav class="hidden sm:block">
  <ul class={classes} style={styles}>
    <slot />
  </ul>
</nav>
